
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-grid:before { content: '\e802'; } /* '' */
.icon-home-1:before { content: '\e803'; } /* '' */
.icon-clock-1:before { content: '\e804'; } /* '' */
.icon-videocam:before { content: '\e805'; } /* '' */
.icon-clipboard:before { content: '\e807'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */